
<div class="container">
  <h1>Post App</h1>
  
  <div class="col-md-8">
    <ul class="list-group">
      <li  [ngClass]="{'list-group-item': true,
      'list-group-item-success': postStatus > 0,
      'list-group-item-danger': postStatus === 'dont love it'}" class="list-group-item" *ngFor="let post of posts">
        <h4>- Statut : {{ getStatus() }}</h4>
        <p class="date">{{ lastUpdate | uppercase}}</p>
        <h1>{{post.title}} </h1>
        <p>{{post.content}}</p>
        <button (click)="onLoveIt()" class="btn btn-success">I love it !!</button>
        <button (click)="dontLoveIt()" class="btn btn-danger">I don't love it!!</button>
      </li>
    </ul>
  </div>
  
  
 
   
  
</div>